body{
    background-color: rgb(56, 55, 55);
    
}

.container{
    border: solid 1px ;
    width: 400px;;
    padding: 30px; 
    border-radius: 15px;
    background-color: rgba(7, 7, 7, 0.649);
    opacity: 92%;
    margin: auto;
    margin-top: 100px;
}
.number{
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    margin: 10px;

}
.btn-guess{
    width: 100px;
    height: 55px;
    margin: 10px;
    border-radius: 25px;
    border: solid 2px white;
    background-color: rgb(244, 138, 67);
    font-size: 18px;

}
.btn-guess:disabled{
    background-color:rgb(253, 183, 136);
    cursor: not-allowed;
}
.bar{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
#btnNew{
    margin: 10px;
    display: block;
    margin: auto;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border: solid 2px white;
    background-color: rgb(244, 137, 66);
    color: rgb(0, 0, 0);
    font-size: 16px;

}
#btnNew:disabled{
    cursor: not-allowed;
    background-color:rgb(253, 183, 136);
}
.hints{
  margin: auto;
  display:flex;
  flex-direction: column;
  text-align: center;
  height: 70px;
  justify-content: center;
}
label{
    color: white;
}